<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TO DO LIST</title>
  </head>
  <body>
    <h1 style="color:green">To do list : <%=kindOfDay%></h1>

    <ul>

      <%for(var i=0;i<newListItems.length;i++){ %>
        <li><%= newListItems[i] %></li>
      <%}%>
    </ul>

    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="Add new item" >
      <button type="submit" name="button">Add</button>
      </form>


  </body>
  <footer><p>© 2021 Ayush Kumar</p></footer>
</html>
